.app {
  margin: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* background-color: rgb(37, 36, 36); */
}
.container {
  flex: 1;
}
a {
  text-decoration: none;
  color: black;
}
button {
  cursor: pointer;
}
