
.header{
    height: 60px;
    display:flex;
    /* flex:1; */
    flex-direction: row;
    /* justify-content: space-around; */
    align-items: center;
    position: sticky;
    top:0;
    z-index:100;
    border-bottom: 1px solid darkblue;
    background-color: white;
}

.eader a:hover{
    border-bottom: 1px solid rgb(0, 112, 209);
}
.logo{
    width:auto;
    height: auto;
    overflow: hidden;
    margin: 0 20px;
    margin-top: 7px;
}
.logo img{
    width:auto;
    height:27px;
}
.search{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.leftSide{
    margin-right: auto;
    
}
.rightSide{
    width:200px;
    margin-right: 5px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cart{
    display: flex;
    align-items: center;
}