.home {
  margin-top: 5px;
}

.image {
  display: flex;
  justify-content: center;
}

.home img {
  object-fit: cover;
  width: 90%;
  box-shadow: 20px 20px 20px gray;
}

.section {
  margin-top: 30px;
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.bestSeller a,
.games a,
.console a,
.accessories a {
  padding: 10px;
  border-radius: 20px;
  font-style: italic;
}

.bestSeller a {
  background-color: rgb(60, 162, 252);
  color: white;
  display: flex;
  flex-direction: wrap;
}
.products {
  margin: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
}
