/* .productItems {
  margin: 20px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
} */

.productItems img {
  max-width: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
}

.product:hover {
  cursor: pointer;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.productImage {
  margin-bottom: 10px;
}

.addToCart {
  color: white;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid rgb(60, 162, 252);
  background-color: rgb(60, 162, 252);
  width: 90px;
}

.productStar,
.stars {
  display: flex;
  flex-direction: row;
  flex-direction: wrap;
  align-items: end;
}

.productPrice small,
.productPrice strong {
  padding: 2px;
}
