.checkout {
  margin-top: 90px;
}

.checkoutUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkoutUser pre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.checkoutDetails {
  margin-top: 20px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.productDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rightCheckout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
