.header {
  min-height: 60px;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  border-bottom: 2px solid rgb(0, 112, 209);
  background-color: white;
  display: flex;
  align-items: center;
  grid-template-columns: 2fr 1fr;
}

.header a:hover {
  border-bottom: 1px solid rgb(0, 112, 209);
  cursor: pointer;
}
.logo {
  width: auto;
  height: auto;
  /* overflow: visible; */
  margin: 0 20px;
  margin-top: 7px;
}
.logo img {
  width: auto;
  height: 27px;
}
.search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.leftSide {
  margin-right: auto;
}
.rightSide {
  width: auto;
  padding-right: 15px;
  gap: 15px;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cart {
  display: flex;
  align-items: center;
}
