.productHome {
  /* padding: 15px 25px; */
  margin-top: 30px;
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  /* align-items: center; */

  gap: 7px;

  max-width: auto;
  border-radius: 10px;
  /* border: 1px solid rgb(60, 162, 252); */
}

.productHome:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.productHome img {
  max-width: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
}

.productName > p {
  font-size: 1.2em;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.productStar,
.stars {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
}

.productStar {
  gap: 2px;
}

.productHomeQuantity {
  display: flex;
}

.productPrice small,
.productPrice strong {
  padding: 2px;
}

.add {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addToCart {
  color: white;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid rgb(60, 162, 252);
  background-color: rgb(60, 162, 252);
  width: 90px;
}

.addMark {
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: rgb(88, 198, 88);
}
