.basket {
  margin-top: 70px;
}

.basketUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.basketUser pre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.basketDetails {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-evenly;
}

.productDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.productDisplay > img {
  width: auto;
  height: 300px;
}
.rightBasket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
