.basket {
  margin-top: 70px;
}

.basketUser {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  padding: 10px;
}

.basketUser pre {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* font-family; */
}
.basketDetails {
  /* margin-top: 20px; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  justify-content: space-evenly;
  /* gap: 50px; */
}

.productDisplay {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.productDisplay > img {
  width: auto;
  height: 300px;
}
.rightBasket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 450px) {
  .basketDetails {
    flex-direction: column;
  }
}
