.productCart {
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.productCartInfo {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productCart img {
  max-width: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
}

.productCartImage {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCartName {
  font-size: 1em;
  /* max-width: 180px; */
}

.productPrice small,
.productPrice strong {
  padding: 2px;
}

.productPriceAndQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.productUpdate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.removeButton > button,
.saveForLater > button {
  color: white;
  border-radius: 11px;
  padding: 7px;
  border: 1px solid rgb(60, 162, 252);
  background-color: rgb(60, 162, 252);
  object-fit: contain;
}

.removeButton > button {
  border: 1px solid rgb(219, 23, 23);
  background-color: rgb(208, 59, 59);
}
.removeButton > button:hover {
  background-color: rgb(186, 27, 27);
}

.saveForLater > button:hover {
  background-color: rgb(53, 139, 214);
}
