.productCart {
  /* padding: 20px; */
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  /* gap: 25px; */
  /* border: 2px solid rgb(60, 162, 252); */
}
.productCart {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  gap: 10px;
}

.productCartInfo {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.productCart img {
  max-width: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 10px 10px 5px gray;
}

.productCartImage {
  margin-bottom: 10px;
}

.productCartName {
  font-size: 1.5em;
  max-width: 180px;
}

.productPrice small,
.productPrice strong {
  padding: 2px;
}

.productPriceAndQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.productUpdate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.removeButton > button,
.saveForLater > button {
  color: white;
  border-radius: 15px;
  padding: 9px;
  border: 1px solid rgb(60, 162, 252);
  background-color: rgb(60, 162, 252);
  object-fit: contain;
}
