.productCart {
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 0px;
  border-radius: 10px;
  /* border: 1px solid rgb(60, 162, 252); */
  max-width: 200px;
}

.productCartInfo {
  /* margin: 10px; */
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productCart img {
  max-width: 150px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

.productCartImage {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCartName > p {
  font-size: 1.2em;
  /* margin-top: 10px; */
  display: flex;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  overflow: hidden;
  max-width: 150px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.productCartName > p:hover {
  /* outline: auto; */
  text-decoration: underline;
}

.productPrice small,
.productPrice strong {
  padding: 2px;
}

.productPriceAndQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* background-color: rgb(60, 162, 252); */
}

.productUpdate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.saveForLater > button {
  color: white;
  border-radius: 11px;
  padding: 7px;
  border: 1px solid rgb(60, 162, 252);
  background-color: rgb(60, 162, 252);
  object-fit: contain;
}
.removeButton > button {
  color: white;
  border-radius: 11px;
  padding: 4px 8px;
  border: 1px solid rgb(60, 162, 252);
  background-color: rgb(60, 162, 252);
  object-fit: contain;
}

/* .removeButton > button {
  border: 1px solid rgb(219, 23, 23);
  background-color: rgb(208, 59, 59);
} */
.removeButton > button:hover {
  border: 1px solid rgb(219, 23, 23);
  background-color: rgb(186, 27, 27);
}

.saveForLater > button:hover {
  background-color: rgb(53, 139, 214);
}
