.productCheckout {
  margin: 10px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid rgb(60, 162, 252);
}

.productCheckoutInfo {
  margin: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productCheckout img {
  max-width: 100px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 5px 5px 5px gray;
}

.productCheckoutImage {
  /* margin-bottom: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.productCheckoutName {
  font-size: 1em;
  /* max-width: 180px; */
}

.productPrice small,
.productPrice strong {
  padding: 2px;
}

.productPriceAndQuantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}

.productUpdate {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.checkoutProductTotal {
  border-top: 1px solid black;
}

/* .saveForLater > button {
  color: white;
  border-radius: 11px;
  padding: 7px;
  /* border: 1px solid rgb(60, 162, 252); */
/* background-color: rgb(60, 162, 252);
  object-fit: contain;
}
.saveForLater > button:hover {
  background-color: rgb(53, 139, 214);
}  */
