.headerLogo {
  width: auto;
  height: auto;
  margin-bottom: 30px;
  cursor: pointer;
}
.headerLogo img {
  width: auto;
  height: 27px;
}

.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/images/PS30TH_4X3_WALLPAPER.png");
  background-size: cover;
  height: 100vh;
}

.registerForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.registerAll {
  margin-top: 100px;
}

.register h1 {
  margin-bottom: 20px;
  color: rgb(60, 162, 252);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.registerFormLabel {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.register input {
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid rgb(60, 162, 252);
}

.register label :focus {
  outline: none;
  box-shadow: 0 0 5px rgb(60, 162, 252);
}

.register button {
  color: white;
  border-radius: 15px;
  padding: 5px;
  border: 1px solid rgb(60, 162, 252);
  background-color: rgb(60, 162, 252);
  width: 150px;
}

.register button:hover {
  background-color: rgb(4, 134, 248);
  cursor: pointer;
}

.register button:active {
  background-color: #3e8e41;
}

.registerFormRegister,
.registerFormLogin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
